.admin{
    display: flex;
    min-height: 100vh;
    .side-admin{
        min-width: 300px;
        background: #404e67;
        color: white;
        .container{
            background-color: transparent ;
            .user-info{
                padding: 20px 30px;
                display: flex;
                align-items: center;
                border-bottom: 10px solid #EFEFEF;
                svg{
                    margin-right: 20px;
                }
                .title{
                    font-size: 20px;
                }
            }
            .admin-option{
                padding: 20px 30px;
                &_item{
                    cursor: pointer;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .admin-main{
        flex: 1;
        padding: 30px 160px;
        @media screen and (max-width: 1440px) {
            padding: 30px 90px;
        }
        .section-title{
            font-size: 20px;
            margin-bottom: 20px;
            font-weight: bold;
        }   
        .product-manager{
            &_container{
                .latest-info-data{
                    margin-bottom: 100px;
                    > div{
                        display: flex;
                        justify-content: space-between;
                    }
                    &_item{
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                        padding: 15px 20px;
                        border-bottom: 5px solid #197ef2;
                        border-radius: 5px;
                        box-shadow: 1px 1px 6px rgba(0,0,0, .1);
                        background: #ffffff96;
                        &:nth-child(2){
                            border-bottom: 5px solid rgb(145, 0, 101);
                        }
                        &:nth-child(3){
                            border-bottom: 5px solid rgb(214, 211, 1);
                        }
                        > div {
                            margin-right: 50px;
                            .title{
                                font-weight: normal;
                                margin-bottom: 10px;
                                font-size: 17px;
                            }
                            .percent{
                                &.increase{
                                    color: green;
                                }
                                &.decrease{
                                    color: rgb(173, 0, 0);
                                }               
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }
                        .amount{
                            font-size: 30px;
                            font-weight: bold;
                            padding: 20px;
                        }
                    }
                }
                .daily-data{
                    margin-bottom: 100px;
                    canvas{
                        max-width: 100%;
                    }
                   
                }
                .total-data{
                    .gelpCx{
                        border-radius: 6px;
                    }
                    > div > div > div > div{ 
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }
        .user-manager{
            border-collapse: collapse;
            table{
                margin-bottom: 10px;
                width: 100%;
                .title{
                    background: #8a99b3;
                    color: white;
                    td{
                        padding: 10px 5px 10px 5px;
                        border-left: 2px solid #efefef;
                    }
                }
                .user{
                    font-size: small;
                    cursor: pointer;
                    &:hover, &.active{
                        td{
                            background-color: rgba(155, 183, 243, 0.759);
                        }
                    }
                    td{
                        margin-left: 10px;
                        border-left: 2px solid #efefef;
                        border-bottom: 2px solid #efefef;
                        background-color: rgb(255, 255, 255);
                        padding: 8px;
                    }
                }   
            }
            .group-button{
                display: flex;
                justify-content: flex-end;
                p{
                    padding: 8px 35px !important;
                    margin-left: 10px;
                }
                .add{
                    background-color: rgba(49,230,23,1);
                }
                }
                .update{
                    background-color: rgb(255, 255, 100);
                }
                .delete{
                    background-color: rgb(255, 72, 72);
                }
            }
        }
    }
.login-admin{
    &_container{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background: white;
        border-radius: 8px;
        text-align: center;
        .title{
            margin-bottom: 20px;
        }
        input{
            margin-bottom: 10px;
        }
        #passAdmin{
            margin-bottom: 20px;
        }
        .err{
            text-align: left;
            position: absolute;
            top: 39px;
            color: red;
            font-size: 12px;
            font-weight: thin;
            font-weight: 400;
        }
    }
}