.group-btn{
    display: flex;
    margin-top: 20px;
    .btn-basic{
        flex:  1;
        &.white{
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
}
.btn-basic{
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    line-height: 13px;
    text-align: center;
    padding: 13px 20px;
    cursor: pointer;
    &:hover{
        opacity: .8;
    }
    &.blue{
        color: white;
        background: #0066FF;
    }
    &.white{
        color: #0066FF;
        background: white;
        margin-bottom: 10px;
        border: 1px solid #0066FF;
    }
}


.input-basic{
    display: block;
    width: 300px;
    outline: none;
    padding: 8px 12px;
    border: 1px solid #d9e1e2;
    border-radius: 4px;
    height: 25px;
}

.popup{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1000;
    left: 0;
    transition: all .3s;
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:  translate(-50%, -50%);
        padding: 30px;
        border-radius: 8px;
        svg{
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }
}