.container{
    background: white;
    .header{
        top: 0;
        left: 0;
        background: white;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        transition: all .5s;
        z-index: 100;
        &.on-top{
            background: transparent;
            color: white;
            .user-info{
                .remind{
                    svg{
                        path{
                            fill: transparent !important;
                            stroke: white;
                        }
                    }
                }
                svg{
                    path{
                        fill: white !important;
                    }
                }
                p{
                    color: white;
                }
            }
            .login{
                background: transparent;
            }
        }
        .left{
            margin-left: 60px;
            display: flex;
            align-items: center;
            .nav-link{
                display: flex;
                p{
                    margin-left: 30px;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 16px;
                }
            }
        }
        .login{
            font-weight: 700;
            font-size: 13px;
            line-height: 20px;
            padding: 10px 50px;
            text-transform: uppercase;
            background: #0066FF;
            border-radius: 7px;
            color: white;
            cursor: pointer;
            margin-right: 30px;
            &:hover{
                opacity: .8;
                cursor: pointer;
            }
        }
        .user-info{
            display: flex;
            align-items: center;
            margin-right: 50px;
            .remind{
                height: 20px;
                margin-left: 10px;
                position: relative;
                cursor: pointer;
                p{
                    position: absolute;
                    right: -10px;
                    top: -9px;
                    background: #e00000c7;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    color: white;
                    font-size: 10px;
                    justify-content: center;
                }
                svg{
                    margin: 0;
                }
            }
            svg{
                margin-left: 7px;
            }
            .line{
                width: 2px;
                height: 30px;
                background: #D9E1E2;
                display: block;
                margin: 0 10px;
            }
            p{
                font-weight: 700;
                font-size: 13px;
                line-height: 16px;
                text-align: right;
                color: #1F2125;
            }
        }
    }
    .background{
        background-image: url(https://marshallstore.vn/wp-content/plugins/travel-agency-companion/includes/images/img2.jpg);
        width: 99vw;
        height: 100vh;
        background-position: bottom;
        .group-search{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            height: 50px;
            align-items: center;
            border-radius: 4px;
            .title{
                position: absolute;
                top: -50px;
                color: white;
                font-size: 26px;
                letter-spacing: 3px;
                animation: 
                typing 3.5s steps(30, end),
                blink-caret .75s step-end infinite;
            }
            input{
                height: 100%;
                width: 700px;
                padding: 0;
                border: 0;
                outline: none;
                padding-left: 20px;
                font-size: 16px;
                border-radius: 4px 0 0 4px;
            }
            .label{
                border-radius: 0 4px 4px 0;
                height: 100%;
                background: white;
                text-align: center;
                display: flex;
                align-items: center;
                border: none;
                padding: 0 20px;
                text-transform: uppercase;
                background-color: #0066FF;
                color: white;
                cursor: pointer;
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
    #loginContainer{
        position: fixed;
        top: 80px;
        width: 100vw;
        height: 100vh;
        background: white;
        z-index: 100;
        transition: all .5s;
        justify-content: center;
        display: flex;
        .sign-in, .sign-up{
            transition: all .5s;
        }
        .content{
            margin-top: 20vh;
            position: relative;
        }
        .title{
            margin-bottom: 40px;
            font-size: 26px;
            font-weight: 600;
            text-align: center;
        }
        input{
            display: block;
            width: 300px;
            outline: none;
            padding: 8px 12px;
            border: 1px solid #d9e1e2;
            border-radius: 4px;
            margin-bottom: 10px;
            height: 25px;
            &#password{
                margin-bottom: 25px;
            }
            &:focus{
                border: 1px solid #0066FF;
            }
        }
        .line{
            color: gray;
            margin-bottom: 15px;
            text-align: center;
            font-size: 13px;
        }
        .btn-second, .btn-first{
            border-radius: 3px;
            font-weight: 600;
            font-size: 15px;
            line-height: 13px;
            text-align: center;
            padding: 13px 25px;
            margin-bottom: 15px;
            cursor: pointer;
            &:hover{
                opacity: .8;
            }
        }
        .btn-first{
            color: white;
            background: #0066FF;
        }
        .btn-second{
            color: #0066FF;
            background: white;
            margin-bottom: 10px;
            border: 1px solid #0066FF;
        }
        .error{
            position: absolute;
            top: 0;
            top: 50px;
            color: red;
            font-size: 13px;
        }
        .group-error{
            position: relative;
            .error-text{
                position: absolute;
                top: 50%;
                right: -105px;
                transform: translateY(-50%);
                font-size: 13px;
                color: red;
                &.user{
                    right: -160px;
                }
            }
        }
    }
    .favourite-list{
        position: fixed;
        right: 50px;
        top: 61px;
        border-radius: 5px;
        padding: 10px;
        background: white;
        min-width: 400px;
        max-height: 220px;
        overflow-y: scroll;
        z-index: 101;
        transition: all .3s;
        box-shadow: 1px 1px 18px rgba(0,0,0,0.1);
        .favourite-list_container{
            a{
                margin-bottom: 20px;
                display: block;
                text-decoration: none;
                color: black;
                cursor: pointer;
                &:last-child{
                    margin-bottom: 0;
                }
                &:hover{
                    opacity: .7;
                }
            }
            .favourite-item{
                display: flex;
                img{
                    margin-right: 20px;
                    max-height: 60px;
                    min-width: 90px;
                    object-fit: contain;
                }
                .group-info{
                    flex: 1;
                    .title{
                        font-weight: 600;
                        font-size: 14px;
                        margin-bottom: 6px;
                    }
                    .group-price{
                        display: flex;
                        font-size: 13px;
                        justify-content: space-between;
                        &.old{
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
        &.in-active{
            top: 45px !important;
            opacity: 0;
            pointer-events: none;
        }
        &::-webkit-scrollbar {
            width: 4px;
            border-radius: 20px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: #F0F3F3; 
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #0875b9; 
            border-radius: 20px;
        }
    }
}
