
body{
    background-color: #EFEFEF;
    margin: 0;
    font-family: "Mulish";
}
.content-body{
    margin-top: 40px;
    padding: 0 30px 0 30px;
}
p{
    margin: 0;
}
.un-fade{
    opacity: 0 !important;
    pointer-events: none;
}

.d-none{
    display: none !important;
}

.fade{
    opacity: 1;
}

.invalid{
    background-color: gray !important;
    pointer-events: none;
}